# PHP
alias sail="./vendor/bin/sail"

# Git
alias g="git"
alias gc="git checkout"
alias gpo="git push origin"
alias gm="git merge"
alias ga="git add ."
alias gcm='git commit -m"$1"'

# Terraform
alias tf="terraform"
alias tfw="terraform workspace"

# System
alias ll="ls -laF"
alias psaux="ps -aux | grep $1"
alias cdp="cd ~/Projects/"

# Docker
alias d="docker"
alias dc="docker-compose"
alias dcu="docker-compose up -d"
alias dcd="docker-compose down"
