# Docker
function ssh-docker() {
   docker exec -it "$@" bash
}

# PHP
function tinker()
{
  if [ -z "$1" ]
    then
       php artisan tinker
    else
       php artisan tinker --execute="dd($1);"
  fi
}

function weather() {
   city="$1"

   if [ -z "$city" ]; then
      city="Frederiksberg"
   fi

   eval "curl http://wttr.in/${city}"
}
